@page "/Notes"
@using Client.Shared
<h3>Notes</h3>

<ul>
    @foreach (var error in _errors)
    {
        <li class="text-danger">@error</li>
    }
</ul>

<Virtualize Items="_notes" Context="note">
    <div @key="note.Id" class="card mb-3">
        <div class="card-header">@note.Title</div>
        <div class="card-body">@note.Content</div>
        <div class="card-footer">
            <div>@note.TimeStamp</div>
            <button type="button" class="btn-danger" @onclick="() => DeleteNoteAsync(note.Id)"
                    disabled="@(_awaitingDeletionNoteId != Guid.Empty)">
                @(_askConfirmDeletionNoteId == note.Id
                    ? _awaitingDeletionNoteId == note.Id 
                        ? "Deleting..." : "Confirm?"
                    : "Delete")
            </button>
            <button type="button" class="btn-primary" @onclick="() => OpenEditableNote(note)">
                Edit
            </button>
        </div>
    </div>
</Virtualize>

@if (_shownEditableNote is not null)
{
    <div class="popup-overlay">
        <div class="popup-content">
            <EditableNote Note="_shownEditableNote" OnClose="CloseEditableNote"></EditableNote>
        </div>
    </div>
}

@if (_loadingNotes)
{
    <div>Loading...</div>
}