    <EditForm OnValidSubmit="() => SubmitEdit(_noteFormModel)" Model="_noteFormModel">
        <DataAnnotationsValidator/>
        
        @foreach (var error in _errors)
        {
            <div class="text-danger">@error</div>
        }
        
        <FluentStack Orientation="Orientation.Vertical">
        <div>
            <FluentTextArea @bind-Value="_noteFormModel.Title" placeholder="Title"/>
            <ValidationMessage For="@(() => _noteFormModel.Title)"/>
        </div>
        <div>
            <FluentTextArea @bind-Value="_noteFormModel.Content" placeholder="Content"/>
            <ValidationMessage For="@(() => _noteFormModel.Content)"/>
        </div>
        <div>
            <div>@Note.TimeStamp</div>
            <FluentButton Appearance="Appearance.Accent" Type="ButtonType.Submit" disabled="@_isLoading">
                @(_isLoading ? "Updating..." : "Save")
            </FluentButton>
            <FluentButton Appearance="Appearance.Accent" Type="ButtonType.Button" @onclick="HandleClose">Close</FluentButton>
        </div>
        </FluentStack>
    </EditForm>